* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, white 0%, white 38%, #eeeeee 38%, #eeeeee 70%, white 70%, white 100%);
}

nav {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
}

nav ol {
    text-align: center;
    list-style-type: none;
    margin-top: 2px;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    padding: 36px 48px 36px 48px;
    transition: 0.1s;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.1s;
    text-decoration: none;
}

#menu-hamburguer {
    background-color: #1b1b1b;
    display: none;
}

#menu-hamburguer ol {
    list-style-type: none;
    padding-bottom: 24px;
    padding-top: 24px;
}

#menu-hamburguer li {
    padding: 24px 0px 24px 0px;
    border-top: 1px solid #646464;
    width: 60%;
    margin: auto;
}

/* #menu-hamburguer ol:last-child {
    border-bottom: 1px solid #646464;
} - Não funcionou :( */

.last-li {
    border-bottom: 1px solid #646464;
}

#menu-hamburguer a {
    text-decoration: none;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: white;
    transition: 0.1s;
    padding-bottom: 24px;
}

.img-title {
    position: absolute;
    margin-top: -100px;
    z-index: -1;
    width: 100%;
    height: auto;
}

.img-full {
    width: 100%;
    height: auto;
}

.logo {
    margin-left: 36px;
}

.logo-header {
    float: right;
    margin-top: 72px;
}

.logo-title {
    font-family: Teko, sans-serif;
    color: white;
    font-weight: 100;
    background-color: black;
    padding: 8px 4px 0px 6px;
    width: 322px;
    font-size: 64px;
    margin: 0;
}

.logo-subtitle {
    background-color: #EF3132;
    font-family: Teko, sans-serif;
    font-weight: 700;
    font-style: italic;
    color: white;
    font-size: 64px;
    width: 525px;
    padding: 20px 20px 20px 72px;
    text-align: right;
    margin-top: 20px;
}

.first-p {
    margin-top: 60%;
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 72px;
    font-weight: 400;
    width: 900px;
    margin: auto;
    margin-top: 200px;
}

p {
    width: 900px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 48px;
    margin: auto;
    margin-top: 50px;
}

section {
    margin-top: 200px;
    margin-bottom: 200px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    height: 400px;
    margin-top: 50px;
}

.burger-menu {
    visibility: hidden;
}

.description {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    width: 20%;
    margin-top: 20%;
}

.description p {
    font-size: 18px;
    color: white;
    width: 75%;
    margin-top: 16px;
    padding-bottom: 24px;
    margin-left: 18px;
}

.description h3 {
    font-size: 30px;
    width: 90%;
    margin: auto;
    color: white;
    padding-top: 16px;
    font-family: Raleway, sans-serif;
    padding-bottom: 4px;
}

.description a {
    color: white;
}

hr {
    border: 1px solid #646464;
    width: 90%;
    margin: auto;
}

.newsletter-section {
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 34%;
}

.newsletter-section p {
    font-size: 32px;
    width: 75%;
    margin: auto;
    padding-bottom: 100px;
}

.newsletter-section h1 {
    font-size: 64px;
    text-align: center;
    font-family: Raleway, sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form-section {
    padding-top: 100px;
    background-color: #EF3132;
    width: 50%;
    margin: auto;
}

form {
    width: 50%;
    margin: auto;
}

label {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
}

input[type=text] {
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 4px 8px 4px 8px;
    height: 50px;
    width: 100%;
    font-size: 24px;
    transition: 0.1s;
    box-sizing: border-box;
	outline: none;
	border: 1px solid #646464;
    line-height: 25px;
    border-radius: 5px;
}

input[type=text]:focus {
	box-shadow: 1px 1px 8px #266029;
    border: 1px solid #266029;
    transition: 0.1s;
}

@media only screen and (min-width: 2560px) {
    .logo-header {
        margin-top: 300px;
    }
}

@media only screen and (max-width: 1366px) {
    nav a {
        font-size: 14px;
    }

    nav li {
        margin-top: 4px;
    }

    .logo-header {
        margin-top: 50px;
    }

    .logo-title {
        font-size: 48px;
        width: 244px;
    }

    .logo-subtitle {
        font-size: 45px;
        width: 340px;
    }

    .logo {
        margin-left: 35px;
    }
}

@media only screen and (max-width: 1024px) {
    nav a {
        padding: 36px 36px 36px 36px;
    }

    nav ol {
        margin-top: 0px;
    }

    .logo-header {
        margin-top: 24px;
    }

    .logo-title {
        font-size: 40px;
        width: 202px;
    }

    .logo-subtitle {
        font-size: 26px;
        width: 190px;
    }

    .logo {
        margin-left: 18px;
    }

    h2 {
        font-size: 64px;
    }

    p {
        font-size: 40px;
    }

    .description {
        width: 38%;
        margin-top: 15%;
    }

    .description h3 {
        font-size: 24p;
    }
}

@media only screen and (max-width: 900px) {
    .burger-menu {
        visibility: visible;
        margin: 20px;
    }

    nav {
        height: 75px;
        width: 100%;
        position: relative;
        background-color: black;
    }

    .img-title {
        position: relative;
        margin-top: 0px;
    }

    nav ol {
        visibility: hidden;
    }

    .first-p {
        margin-top: 0;
    }

    p {
        width: 75%;
        font-size: 24px;
    }

    h2 {
        width: 75%;
        font-size: 40px;
        margin-left: auto;
        margin-top: 100px;
    }

    section {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .logo-header {
        margin-top: -25%;
        float: none;
        text-align: center;
    }

    .logo-title {
        font-size: 32px;
        width: 175px;
        margin: auto;
    }

    .logo-subtitle {
        font-size: 24px;
        width: 200px;
        text-align: center;
        padding: 20px 20px 20px 20px;
    }

    .logo {
        margin: auto;
    }

    .description h3 {
        font-size: 18px;
    }

    .description p {
        font-size: 14px;
    }

    .description {
        width: 38%;
    }
}

@media only screen and (max-width: 700px) {
    .description h3 {
        font-size: 14px;
    }

    .description p {
        font-size: 11px;
    }

    .description {
        width: 40%;
    }
}